<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Un blog fonctionnant grace à  EmberJS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-right">
              {{#bs-dropdown tagName="li"}}
                {{#bs-dropdown-toggle}}Menu déroulant <span class="caret"></span>{{/bs-dropdown-toggle}}
                {{#bs-dropdown-menu}}
                    <li>{{#link-to "posts"}}Posts{{/link-to}}</li>
                    <li>{{#link-to "profil"}}Profil{{/link-to}}</li>
                {{/bs-dropdown-menu}}
              {{/bs-dropdown}}
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</nav>
{{outlet}}


