{{outlet}}
{{#if (notempty model)}}
  {{#each model as |post|}}
      <div class="row">
          <div class="col-md-4 center">
            {{#if post.title}}

                <h2 class="text-center">{{post.title}}</h2>
                <p>{{post.text}}</p>
                <a href="{{post.url}}">{{post.site}}</a><br>
              {{#link-to "posts" className="right"}}Consulter{{/link-to}}
              {{!#{{show-button 'bli' 'bla'}}
            {{else}}
                <p class="text-center error">INVALIDE</p>
            {{/if}}
          </div>
      </div>
      <hr>
  {{/each}}
{{else}}
    <div class="row">
        <div class="col-md-4 center">
            <h1 class="indexCenter">C'est encore un peux vide içi</h1>
        </div>
    </div>
{{/if}}
